<a href="https://colab.research.google.com/github/rafaelteixeirajr/PA_2025/blob/main/strings_tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Strings**

In [ ]:
# 1 - Use o método len para imprimir o comprimento da string.
x = "Hello World"
print(len(x))

In [ ]:
# 2 - Obtenha o primeiro caractere da string txt.
txt = "Hello World"
x = txt[0]
print(x)

In [ ]:
# 3 - Obtenha os caracteres do índice 2 ao índice 4 ( llo).
txt = "Hello World"
txt[2:5]

In [ ]:
# 4 - Converta o valor de txt para maiúsculas.
txt = "Hello World"
txt.upper()

In [ ]:
# 5 - Conte quantas vezes aparece a palavra "de" na string abaixo
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.count('de')

In [ ]:
# 6 - Separe a frase abaixo toda vez que encontrar um vírgula
txt ='Eu gosto de viajar, tomar vinho, de estudar estudar programação, de estudar Python'
txt = txt.split(',')
print(txt)

In [ ]:
#7 - Peça ao usuário uma frase e substitua todas as ocorrências de espaço por “#”.
frase = str(input('Escreva uma frase para substituir os espaços! '))
frase = frase.replace(' ', '#')
print(f'Aqui esta sua frase:\n{frase}')

In [ ]:
# 8 - Faça um programa que retorne True se duas strings lidas do teclado são palíndromas mútuas, ou seja, se uma é igual à outra quando lida de traz para frente ou False, se não forem.
# Por exemplo: amor e roma
p = str(input('Me fale uma palavra '))
p1 = str(input('Me fale outra palavra '))
p3 = p.lower()
p4 = p1.lower()

inp = p3[::-1]
inp1 = p4[::-1]

if (inp == p4) and (inp1 == p3):
  print('sim')
else: print('nao')

p5 =p[::-1]
if (p5 == inp):
  print('sim')
else: print('nao')

p6 =p1[::-1]
if (p6 == p1):
  print('sim')
else: print('nao')

In [ ]:
# 9- Faça um programa que leia o nome do usuário e mostre o nome de traz para frente, utilizando somente letras maiúsculas.
nom = str(input('Digite seu nome para saber ele ao contrário e maiuscúlo (Apenas o primeiro) '))
nom1 = nom.upper()
nom2 = nom1[::-1]
print(f'Seu nome ao contrário é:\n{nom2}')

## **Listas e Tuplas**

In [ ]:
# exercicio 1
lista = ['Mauá', 'Ribeirão Pires', 'Santo André', 'Guarulhos', 'São Bernado']
lista.append('São Caetano')
print(lista)
lista.remove("Ribeirão Pires")
print(lista)

In [ ]:
# exercicio 2.
c1 = 'azul', 'dourado', 'preto', 'branco'
novac1 = c1 + ("amarelo", "esmeralda")
print(novac1)

In [ ]:
# exercicio 3
aluno = { "nome": "Ana",
         "idade": 22,
          "curso": "Engenharia"}

aluno['idade'] = 27
aluno['nota'] = 'R'
print (aluno)

In [ ]:
#exercio 4
carro = [
       { 'nome':  'Corsa', 'preço': 20000 },
    { 'nome':  'Gol', 'preço': 17000 },
    {  'nome':  'Sandeiro', 'preço': 25000 }]

carro.append({'nome':  'Santana', 'preço': 13000})
carro[0]["preço"] = 25000
print(carro)

In [ ]:
#exercicio 5
idvei = 0
nvei = ' '

listnome = [('Rafael', 15), ('Cleiton', 35), ('Patrícia', 42), ('Paulo', 71)]

if listnome[0][1] > idvei:
  idvei = listnome[0][1]
  nvei = listnome[0][0]
if listnome[1][1] > idvei:
  idvei = listnome[1][1]
  nvei = listnome[1][1]
if listnome[2][1] > idvei:
  idvei = listnome[2][1]
  nvei = listnome[2][0]
if listnome[3][1] > idvei:
  idvei = listnome[3][1]
  nvei = listnome[3][0]
  print(f'a pessoa mais velha é {nvei}, e a idade é {idvei}')

média = ((listnome[0][1] + listnome[1][1] + listnome[2][1]  + listnome[3][1])/ 4)

print(f'a média das idades é {média} anos')